* {
  box-sizing: border-box;
}

html, body {
  height: 100%
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color:white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color:#393b44;
  font-size: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: #5c5f6e;
  text-align: center;
}


div {
  background-color: #f1f3f8;
}

.rectangle {
  height: 559px;
  width: 794px;
  border-style: solid;
}

.options-row {
  height: 50%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
}

.options-box {
  height: 80%;
  width: 28%;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

.options-button {
  background-color:  #fcfdff;
  border: solid #8d93ab;
  color: #393b44;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  width: 35%;
}

.side-box {
  height: 100%;
  width: 50%;
  background-color: white;
  display: flex;
  justify-content: space-around;
}