.screen {
  height: 600px;
  width: 900px;
  border-style: solid;
  background-color: #f1f3f8;
}

.preview {
  position: relative;
  top: 50px;
  left: 450px;
  height: 300px;
  width: 450px;
  border: 2px double black;
  background-color: white;
}

#image {
  position: relative;
  top: 10px;
  margin: 10px;
  height: 150px;
}

.submit {
  position: relative;
  top: 50px;
  left: 450px;
  height: 300px;
  width: 450px;
  border: 2px double black;
  background-color: white;
}
