* {
  box-sizing: border-box;
}

.container {
  min-height: 10em;
  /* display: table-cell; */
  vertical-align: middle;
}

.rectangle {
  height: 420px;
  width: 596px;
  background-color: #d5f4e6;
}

.rect_half {
  height: 420px;
  width: 298px;
  background-color: red;
}

.options-row {
	height: 50%;
	width: 100%;
	display: flex;
	box-sizing: border-box;
	justify-content: space-around;
	align-items: center;
}

.options-box {
	height: 80%;
	width: 28%;
	background-color: white;
	display: flex;
	justify-content: space-around;
	align-items: center;

}

.options-button {
	color: #fff;
	background-color: #5995DA;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	border: 2px solid #5D6063;
	border-radius: 5px;
	width: 35%;
}

html, body {
  height: 100%
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: white;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: maroon;
  text-align: center;
}

p {
  color: gray;
}

div {
  background-color: #d5f4e6;
}